.modal-padding{
    padding-left: 10px;
    padding-right: 10px;
}

#mapid{height: 30%;}

Table {
    width: 100%;
}
td{
    border: 3px solid #222;
}
td:after {
    content: '';
    display: inline-block;
    margin-top: 100%;
}